<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.damo.carcostmanager">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.damo.carcostmanager.MainActivity" />
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menuu"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.damo.carcostmanager.LoginActivity" />
        </activity>
        <activity
            android:name=".AddFuelActivity"
            android:label="@string/title_activity_add_fuel_activity"
            android:parentActivityName=".MenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.damo.carcostmanager.MenuActivity" />
        </activity>
        <activity
            android:name=".AddServiceActivity"
            android:label="@string/title_activity_add_service"
            android:parentActivityName=".MenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.damo.carcostmanager.MenuActivity" />
        </activity>
        <activity
            android:name=".AddReviewActivity"
            android:label="@string/title_activity_add_review"
            android:parentActivityName=".MenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.damo.carcostmanager.MenuActivity" />
        </activity>
        <activity
            android:name=".AddProtectionActivity"
            android:label="@string/title_activity_add_protection"
            android:parentActivityName=".MenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.damo.carcostmanager.MenuActivity" />
        </activity>
        <activity
            android:name=".HistoryFuelActivity"
            android:label="@string/title_activity_history_fuel"
            android:parentActivityName=".MenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.damo.carcostmanager.MenuActivity" />
        </activity>
        <activity
            android:name=".HistoryServiceActivity"
            android:label="@string/title_activity_history_service"
            android:parentActivityName=".MenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.damo.carcostmanager.MenuActivity" />
        </activity>
        <activity
            android:name=".HistoryReviewActivity"
            android:label="@string/title_activity_history_review"
            android:parentActivityName=".MenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.damo.carcostmanager.MenuActivity" />
        </activity>
        <activity
            android:name=".HistoryProtectionActivity"
            android:label="@string/title_activity_history_protection"
            android:parentActivityName=".MenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.damo.carcostmanager.MenuActivity" />
        </activity>
    </application>

</manifest>